@import "tailwindcss";

@theme {
  --color-brand-cream: #F9F7F2;
  --color-brand-brown: #5D4037;
  --color-brand-purple: #9D8BB1;
  --color-brand-sage: #9AB9A8;

  --font-serif: "Playfair Display", serif;
  --font-sans: "Quicksand", "Outfit", sans-serif;
}

@layer base {
  body {
    @apply bg-brand-cream text-brand-brown font-sans;
  }
}